# Core Data Science Libraries
pandas~=2.2.2
numpy~=1.26.4
scikit-learn~=1.4.2
scipy~=1.13.0
tqdm~=4.66.2

# NLP Library for Semantic Similarity
spacy~=3.7.4

# spaCy Model with Word Vectors (Direct Download Link)
# This line tells pip to download and install the specific model needed by the script.
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl

# NLP Library for Named Entity Recognition (Brand Removal)
flair~=0.13.1

# Core deep learning framework required by Flair
torch~=2.2.2
torchvision~=0.17.2
streamlit~=1.49.1
requests~=2.32.4
pillow~=11.3.0
transformers~=4.55.2
vaderSentiment~=3.3.2
langdetect~=1.0.9
networkx~=3.5
matplotlib~=3.10.5
mlxtend~=0.23.4

seaborn~=0.13.2


opencv-python==4.11.0.86





